In [1]:
from selenium import webdriver
import pandas as pd
# import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import math
import statistics
import resources

## Scrapping the data
- Entering url and stracting data as a Pandas df
- After scrapping the data, df will be stored as CSV file
- If data has been already scrapped, data is stracted from CSV

In [2]:
# Check if exist a .csv with filename equals to TODAY DATETIME
if False:
#     NON_DESIRED_TEAMS = ['Team Durant','Team LeBron']
    # Getting data
    df = resources.data_scraper.scrape()
    # Filtering data
#     df = df[df[df.columns[0]] != (NON_DESIRED_TEAMS[0] or NON_DESIRED_TEAMS[1])]
#     df = df[df[df.columns[1]] != (NON_DESIRED_TEAMS[0] or NON_DESIRED_TEAMS[1])]
    # Casting columns
    df[df.columns[2]] = df[df.columns[2]].astype(np.int64)
    df[df.columns[3]] = df[df.columns[3]].astype(np.int64)
    # Adding total_score column
    df["TotalScore"] = df[df.columns[2]] + df[df.columns[3]]
    # Store CSV
    df.to_csv('data/11-04.csv', encoding='utf-8', index=False)
else:
    df = pd.read_csv('data/11-04.csv')

In [3]:
# NON_DESIRED_TEAMS = ['Team Durant','Team LeBron']
# df = df[df[df.columns[0]] != (NON_DESIRED_TEAMS[0] or NON_DESIRED_TEAMS[1])]
# df = df[df[df.columns[1]] != (NON_DESIRED_TEAMS[0] or NON_DESIRED_TEAMS[1])]
len(df) # 833 for today
df.head()

,HomeTeam,AwayTeam,ScoreHome,ScoreAway,TotalScore
0,Golden State Warriors,Houston Rockets,125,109,234
1,Phoenix Suns,Washington Wizards,134,106,240
2,Portland Trail Blazers,Detroit Pistons,118,103,221
3,Oklahoma City Thunder,Philadelphia 76ers,93,117,210
4,Utah Jazz,Sacramento Kings,128,112,240

#### Heatmap

In [4]:
# resources.graph.heatmap(df, f_size=10, cmap="afmhot_r",vmin=150, vmax=250)

### Frecuency histogram
- To know how many divisions or 'bins' should be done in the histogram, we must use Sturges law

$$ c = 1 + \dfrac{log(M)}{log(2)}$$

In [5]:
# resources.graph.frecuency_histogram(df)

#### Boxplot

In [6]:
# plt.boxplot(df['TotalScore'])
# plt.title("Total score distribution")

#### Normal dfistribution

In [7]:
# resources.graph.normal_distribution(df, 'Atlanta Hawks')

## Data analysis
- Analysing data
- Store results in a new df
- Calculus:
        - Mean
        - P25 / P75
        - factorUp / factorDown given a percentile
        - weightedFactor Up/Down given a percentile

In [8]:
stats_df = resources.nba_stats.stats(df, p_factor=25, p_weight=25) # Add pWeight pFactor

Team: Golden State Warriors, percentile: 25, pos: 214.0
Team: Phoenix Suns, percentile: 25, pos: 209.0
Team: Portland Trail Blazers, percentile: 25, pos: 220.75
Team: Oklahoma City Thunder, percentile: 25, pos: 208.75
Team: Utah Jazz, percentile: 25, pos: 211.5
Team: Brooklyn Nets, percentile: 25, pos: 220.5
Team: Cleveland Cavaliers, percentile: 25, pos: 198.0
Team: Los Angeles Clippers, percentile: 25, pos: 210.0
Team: Denver Nuggets, percentile: 25, pos: 216.5
Team: Milwaukee Bucks, percentile: 25, pos: 222.5
Team: Atlanta Hawks, percentile: 25, pos: 214.0
Team: New Orleans Pelicans, percentile: 25, pos: 220.25
Team: Boston Celtics, percentile: 25, pos: 210.5
Team: New York Knicks, percentile: 25, pos: 196.0
Team: Orlando Magic, percentile: 25, pos: 205.25
Team: Sacramento Kings, percentile: 25, pos: 223.0
Team: Dallas Mavericks, percentile: 25, pos: 209.25
Team: Miami Heat, percentile: 25, pos: 199.75
Team: Toronto Raptors, percentile: 25, pos: 211.75
Team: Houston Rockets, percentile: 25, pos: 212.0
Team: Indiana Pacers, percentile: 25, pos: 213.5
Team: Minnesota Timberwolves, percentile: 25, pos: 214.0
Team: San Antonio Spurs, percentile: 25, pos: 210.0
Team: Philadelphia 76ers, percentile: 25, pos: 210.0
Team: Chicago Bulls, percentile: 25, pos: 212.5
Team: Detroit Pistons, percentile: 25, pos: 204.0
Team: Washington Wizards, percentile: 25, pos: 216.5
Team: Memphis Grizzlies, percentile: 25, pos: 216.0
Team: Los Angeles Lakers, percentile: 25, pos: 205.0
Team: Charlotte Hornets, percentile: 25, pos: 212.0
Team: Golden State Warriors, percentile: 75, pos: 234.25
Team: Phoenix Suns, percentile: 75, pos: 233.5
Team: Portland Trail Blazers, percentile: 75, pos: 242.5
Team: Oklahoma City Thunder, percentile: 75, pos: 227.5
Team: Utah Jazz, percentile: 75, pos: 236.75
Team: Brooklyn Nets, percentile: 75, pos: 245.0
Team: Cleveland Cavaliers, percentile: 75, pos: 227.0
Team: Los Angeles Clippers, percentile: 75, pos: 234.0
Team: Denver Nuggets, percentile: 75, pos: 236.0
Team: Milwaukee Bucks, percentile: 75, pos: 243.5
Team: Atlanta Hawks, percentile: 75, pos: 236.0
Team: New Orleans Pelicans, percentile: 75, pos: 245.75
Team: Boston Celtics, percentile: 75, pos: 233.5
Team: New York Knicks, percentile: 75, pos: 220.0
Team: Orlando Magic, percentile: 75, pos: 228.75
Team: Sacramento Kings, percentile: 75, pos: 243.0
Team: Dallas Mavericks, percentile: 75, pos: 237.5
Team: Miami Heat, percentile: 75, pos: 226.5
Team: Toronto Raptors, percentile: 75, pos: 237.25
Team: Houston Rockets, percentile: 75, pos: 234.0
Team: Indiana Pacers, percentile: 75, pos: 238.0
Team: Minnesota Timberwolves, percentile: 75, pos: 239.25
Team: San Antonio Spurs, percentile: 75, pos: 234.0
Team: Philadelphia 76ers, percentile: 75, pos: 232.0
Team: Chicago Bulls, percentile: 75, pos: 235.5
Team: Detroit Pistons, percentile: 75, pos: 228.0
Team: Washington Wizards, percentile: 75, pos: 248.5
Team: Memphis Grizzlies, percentile: 75, pos: 235.75
Team: Los Angeles Lakers, percentile: 75, pos: 227.0
Team: Charlotte Hornets, percentile: 75, pos: 236.0

In [9]:
stats_df.head(1)

,team,mean,P25,P75,factorDown,factorUp,WfactorDown,WfactorUp
0,Golden State Warriors,225.767857,214.0,234.25,25.0,21.428571,46.074956,228.714124

## Manually studying data

In [10]:
conversion_dict = {
    'ATL': 'Atlanta Hawks',
    'BOS': 'Boston Celtics',
    'BKN': 'Brooklyn Nets',
    'CHA': 'Charlotte Hornets',
    'CHI': 'Chicago Bulls',
    'CLE': 'Cleveland Cavaliers',
    'DAL': 'Dallas Mavericks',
    'DEN': 'Denver Nuggets',
    'DET': 'Detroit Pistons',
    'GS': 'Golden State Warriors',
    'HOU': 'Houston Rockets',
    'IND': 'Indiana Pacers',
    'LAC': 'Los Angeles Clippers',
    'LAL': 'Los Angeles Lakers',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'MIL': 'Milwaukee Bucks',
    'MIN': 'Minnesota Timberwolves',
    'NO': 'New Orleans Pelicans',
    'NY': 'New York Knicks',
    'OKC': 'Oklahoma City Thunder',
    'ORL': 'Orlando Magic',
    'PHX': 'Phoenix Suns',
    'PHI': 'Philadelphia 76ers',
    'POR': 'Portland Trail Blazers',
    'SAC': 'Sacramento Kings',
    'SA': 'San Antonio Spurs',
    'TOR': 'Toronto Raptors',
    'UTA': 'Utah Jazz',
    'WAS': 'Washington Wizards'
}

In [17]:
future_games = [
    ['MIL', 'ATL'], #230
    ['GS', 'CLE'],  #224
    ['BOS', 'LAL'],  #212
    ['SAC', 'PHX'], #234
]

games_converted = list()
               
for game in future_games:
    home_team = conversion_dict[game[0]]
    away_team = conversion_dict[game[1]]
    game_ = [home_team, away_team]
    games_converted.append(game_)
    
for game in games_converted:
    df_ = stats_df.query("team == '{0}' or team == '{1}'".format(game[0], game[1]))
    print(df_.iloc[:,[1,6,7,4,5,2,3,0]])
    print("\n\n")

          mean  WfactorDown   WfactorUp  factorDown   factorUp    P25    P75  \
9   232.218182    72.560846  221.735450    7.272727  50.909091  222.5  243.5
10  225.350877   120.634642  280.118781   24.561404  28.070175  214.0  236.0

               team
9   Milwaukee Bucks
10    Atlanta Hawks



         mean  WfactorDown   WfactorUp  factorDown   factorUp    P25     P75  \
0  225.767857    46.074956  228.714124   25.000000  21.428571  214.0  234.25
6  214.589286   672.140473  149.686362   39.285714  12.500000  198.0  227.00

                    team
0  Golden State Warriors
6    Cleveland Cavaliers



          mean  WfactorDown   WfactorUp  factorDown   factorUp    P25    P75  \
12  222.600000   182.965782  237.200579   23.636364  14.545455  210.5  233.5
28  215.736842   531.237767  136.230417   42.105263  10.526316  205.0  227.0

                  team
12      Boston Celtics
28  Los Angeles Lakers



          mean  WfactorDown   WfactorUp  factorDown   factorUp    P25    P75  \
1   222.321429   151.664056  145.886926   28.571429  23.214286  209.0  233.5
15  232.473684    24.705291  417.133694    3.508772  42.105263  223.0  243.0

                team
1       Phoenix Suns
15  Sacramento Kings

## Training model

In [12]:
def normalize(x, min_, max_):
    x = float(x)
    if x >= max_:
        return 1
    elif x <= min_:
        return 0
    return (x - min_) / (float(max_) - min_)

def denormalize(z, min_, max_):
    return z * (max_ - min_) + min_
    

def prepare_data(df):
    down, mean, up = df['factorDown'], df['mean'], df['factorUp']
    mean = normalize(mean, 165, 250)
    down = float(down)/100
    up = float(up)/100
    return down, mean, up
    

for index, row in df.iterrows():
    home, away, score = row['HomeTeam'], row['AwayTeam'], row['TotalScore']
    df_h = stats_df.query("team == '{0}'".format(home))
    df_a = stats_df.query("team == '{0}'".format(away))

    h_down, h_mean, h_up = prepare_data(df_h)
    a_down, a_mean, a_up = prepare_data(df_a)
    
    # Input for ML model
    X = np.array([h_down, h_mean, h_up, a_up, a_mean, a_up])
    # Expected result
    y = normalize(score, 165, 250)   
    
    print('Training model with input:\nX: {}\nExpected output:\ny: {}\n\n'.format(X, y))
    
    if index>=5:
        break

Training model with input:
X: [0.25       0.71491597 0.21428571 0.15789474 0.66625387 0.15789474]
Expected output:
y: 0.8117647058823529


Training model with input:
X: [0.28571429 0.67436975 0.23214286 0.43636364 0.7713369  0.43636364]
Expected output:
y: 0.8823529411764706


Training model with input:
X: [0.08928571 0.76197479 0.32142857 0.1754386  0.60474716 0.1754386 ]
Expected output:
y: 0.6588235294117647


Training model with input:
X: [0.28571429 0.63991597 0.16071429 0.12727273 0.67037433 0.12727273]
Expected output:
y: 0.5294117647058824


Training model with input:
X: [0.23214286 0.69663866 0.28571429 0.42105263 0.79380805 0.42105263]
Expected output:
y: 0.8823529411764706


Training model with input:
X: [0.14545455 0.7942246  0.47272727 0.10526316 0.59690402 0.10526316]
Expected output:
y: 0.7294117647058823

In [13]:
test_teams = ['team1', 'team2', 'team3']
test_dict = dict()
test_dict['team1'] = test_dict.get('team1', 0) + 1
test_dict['team1'] = test_dict.get('team1', 0) + 1
test_dict['team2'] = test_dict.get('team2', 0) + 1
test_dict['team3'] = test_dict.get('team3', 0) + 1
test_dict2 = dict()
test_dict2['team1'] = test_dict2.get('team1', 0) + 1
test_dict2['team1'] = test_dict2.get('team1', 0) + 1
test_dict2['team2'] = test_dict2.get('team2', 0) + 1
test_dict2['team3'] = test_dict2.get('team3', 0) + 1
test_dict3 = dict()
test_dict3['team1'] = test_dict3.get('team1', 0) + 1
test_dict3['team1'] = test_dict3.get('team1', 0) + 1
test_dict3['team2'] = test_dict3.get('team2', 0) + 1
test_dict3['team3'] = test_dict3.get('team3', 0) + 10

dict_list = [test_dict, test_dict2, test_dict3]

for i in range(16):
    dict_list.append({'team1': 6})